@import '../../jspm_packages/github/Dogfalo/materialize@0.97.0/sass/components/color';
//@import './variables/_materialize';
$primary-color: color("deep-orange", "darken-2");
@import '../../jspm_packages/github/Dogfalo/materialize@0.97.0/sass/materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
