<section layout="row" layout-sm="column" layout-align="center center">
  <md-button class="groupX left" ng-click="$ctrl.prev();">
    <md-icon
        md-font-icon="fa-arrow-left"
        class="fa"
        ng-style="{'font-size': '24px', 'height': '24px'}"
        aria-label="Previous">
    </md-icon>
  </md-button>
  <md-button class="groupX middle">1</md-button>
  <md-button class="groupX middle">2</md-button>
  <md-button class="groupX middle active">3</md-button>
  <md-button class="groupX middle">4</md-button>
  <md-button class="groupX middle">5</md-button>
  <md-button class="groupX right" ng-click="$ctrl.next();">
    <md-icon
        md-font-icon="fa-arrow-right"
        class="fa"
        ng-style="{'font-size': '24px', 'height': '24px'}"
        aria-label="Next">
    </md-icon>
  </md-button>
</section>
